:root {
    --Red: hsl(14, 86%, 42%);
    --Green: hsl(159, 69%, 38%);
    --Rose__50: hsl(20, 50%, 98%);
    --Rose__100: hsl(13, 31%, 94%);
    --Rose__300: hsl(14, 25%, 72%);
    --Rose__400: hsl(7, 20%, 60%);
    --Rose__500: hsl(12, 20%, 44%);
    --Rose__900: hsl(14, 65%, 9%);
    --Blue: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;     
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    background-color: var(--Rose__100); /* Pridané pozadie z návrhu */
}

/* DEFINOVANIE EMPTY VERZIE */
/* definovanie obrazkov a hlavneho nadpisu*/
picture img {
    display: block;
    width: 100%;
    height: auto; /* Zmenené z 100%, aby sa obrázok nedeformoval */
    object-fit: cover;
    border-radius: 0.5rem;
}

.card__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    color: var(--Rose__900);
}

/* definovanie hlavneho kontajnera */
.card {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: clamp(37.5rem, calc(22.887rem + 62.347vw), 79rem); /* Zvýšené z 350px, aby to na mobile nepôsobilo utopene */
    margin: 0 auto;
    padding-block-start: clamp(1.281rem, calc(-0.134rem + 6.038vw), 5.3rem);
    padding-inline: 24px;
}

/* definovanie rozlozenia produktov */
.card__deserts {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    row-gap: clamp(1.5rem, calc(1.313rem + 0.796vw), 2.03rem);
    padding-block-start: 1.9rem;
}

/* definovanie vzhladu informacii o produkte */
.product__category {    
    font-size: 0.84375rem;
    font-weight: 400;
    letter-spacing: 0.015rem;
    color: var(--Rose__500);
}

.product__name {
    margin: 0;
    font-size: 1rem;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    font-weight: 600;
    color: var(--Rose__900);
    letter-spacing: -0.005rem;
}

.product__price {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Red);
}

/* definovanie meny pre cenu */
.product__price::before {
    content: "$";
    color: var(--Red);
}

/* Na umiestnenie tlačidla je potrebný kontajner */
.product__image--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0;
}

/* zadefinovanie responzivneho obrazka */
.product__image--container picture {
    width: 100%;
    height: auto;
    margin: 0;    
}

/* definovanie štýlu tlačidla a jeho umiestnenie do kontajnera/obrázka */
.product__add--btn {
    /* definovanie polohy a samotneho tlacidla */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    width: 160px;
    height: 44px;
    top: 89.5%;
    /* Vycentrovanie samotného tlačidla na stred obrázka */
    left: 50%;
    transform: translateX(-50%);
    /* definovanie vzhladu tlacidla */
    outline: 1px solid var(--Rose__500);
    outline-offset: -1px; /* Posunie linku o 1px DOVNÚTRA tlačidla */
    border: none;
    border-radius: 1.35rem;
    background-color: var(--Rose__50);
}

.add-content {
    /* definovanie rozlozenia samotneho obsahu tlacidla */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-content .add-cart {
    /* definovanie vzhladu a umiestnenia obsahu */
    font-size: 0.925rem;
    font-weight: 600;
    font-family: 'Red Hat Text', sans-serif;
    color: var(--Rose__900);
    margin: 0;
    padding-inline-start: 0.4rem; 
    letter-spacing: -0.028rem;
}

/* definovanie umiestnenia informacii o produkte */
.product__info {
    margin-block-start: 2.25rem; 
}

/* DEFINOVANIE KOSIKA */
/* definovanie kosika, aby sa centroval automaticky */
.cart__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.75rem;
    margin-top: clamp(0.23rem, calc(2.623rem - 2.659vw), 2rem);
    background-color: var(--Rose__50);
    padding-block: 0.05rem 2.5rem;
    
}

/* definovanie pozicii a vzhladu elementov kosika */
.cart__quantity {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Red);
    padding-inline-start: 1.55rem;
    margin-bottom: 2.4rem;
}

.cart__state--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cart__summary img {
    margin-bottom: 1.1rem;
}

.cart__info {
    font-size: 0.87rem;
    font-weight: 600;
    color: var(--Rose__500); 
}

/* skryt verziu selected - plu/minus verziu, kym tlacidlo nedostane triedu .active*/
.quantity-content {
    display: none;
}

/* DEFINOVANIE SELECTED VERZIE */
/* skryt tlacidlo "Add to cart" */ 
.product__add--btn.active .add-content {
    display: none;
}

/* zobrazit mnozstvo a znamienka +/- */
.product__add--btn.active .quantity-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.55rem;
}

/* zmeneny styl aktivneho tlacidla */
.product__add--btn.active {
    background-color: var(--Red);
    color: var(--Rose__50);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
}

/* definovanie kruzkov okolo znamienok +/- */
.qty-btn-container {
    display: flex;
    align-items: center;   /* Centrovanie ikonky vnútri krúžku vertikálne */
    justify-content: center; /* Centrovanie ikonky vnútri krúžku horizontálne */
    border: none;
    outline: 1px solid var(--Rose__50);
    outline-offset: -1px;
    padding: 4px; /* Priestor medzi ikonkou a okrajom krúžku */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* Samotná ikonka vnútri */
.qty-img {
    width: 10px;
    height: auto;
}

/*definovanie oramovania obrazku */
.product__card.is-selected img {
    outline: 2px solid var(--Red);
    outline-offset: -2px;
    transition: all 0.2s ease;
}

.qty-btn-container:hover {
    background-color: var(--Rose__50);
}

/* Zmena farby ikonky na červenú pri hoveri na krúžok */
/* Funguje to len ak je ikonka SVG s vlastnosťou currentColor, 
   alebo ju môžeme invertovať pomocou filtra: */
.qty-btn-container:hover img {
    /* Filter pre zmenu BIELEJ na červenú (hsl(14, 86%, 42%)) */
    filter: brightness(0); /* Ikonka MUSÍ sčernieť */
}

.product__add--btn.active .qty-btn {
    outline: 1px solid var(--Rose__50);
    outline-offset: -1px;
}

/* DEFINOVANIE FOOTER */
.attribution {     
    font-size: 0.6875rem; 
    text-align: center;   
    padding-block-start: 0.5rem;  
}

.attribution-link { 
    color: var(--Blue); 
}

/* DESKTOP VERZIA */
@media (min-width: 64rem) {
    .card {
        grid-template-columns: 1fr 385px;
        align-items: flex-start;
        gap: 2rem;
    }

    .card__deserts {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem;
    }

    .product__add--btn {
        top: 91%;   
    }
}