:root {
    --clr-red: hsl(14, 86%, 42%);
    --clr-red-dark: hsl(10, 83%, 30%);
    --clr-green: hsl(159, 69%, 38%);
    
    --clr-rose-50: hsl(20, 50%, 98%);
    --clr-rose-100: hsl(13, 31%, 94%);
    --clr-rose-300: hsl(14, 25%, 72%);
    --clr-rose-400: hsl(7, 20%, 60%);
    
    --clr-rose-500: hsl(12, 20%, 44%);
    --clr-rose-900: hsl(14, 65%, 9%);
    --clr-blue: hsl(228, 45%, 44%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black-alpha: hsl(0, 0%, 0%, 50%);
}

* {
    box-sizing: border-box;     
}

button, 
button * {
    font-family: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    background-color: var(--clr-rose-50);
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* definovanie obrazkov a hlavneho nadpisu*/
picture img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* DEFINOVANIE KONTAJNEROV PRE ROZMIESTNENIE ZOBRAZENIA PRODUKTOV */
/* definovanie hlavneho kontajnera (priestor celej stranky) */
.card {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: clamp(37.5rem, calc(22.887rem + 62.347vw), 79rem); 
    margin: 0 auto;
    padding-block-start: clamp(1.29rem, calc(-0.122rem + 6.024vw), 5.3rem);
    padding-inline: 1.5rem clamp(1.425rem, calc(1.399rem + 0.113vw), 1.5rem);
    align-items: flex-start;
    justify-content: flex-start;
}

/* hlavny nazov stranky */
.card__title {
    margin: 0;
    font-size: 2.495rem;
    font-weight: 700;
    color: var(--clr-rose-900);
    letter-spacing: 0.0055rem;
    padding-block-end: 1.9rem;
} 

/* priestor pre jednotlive produkty */
.card__deserts {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: clamp(1.52rem, calc(1.355rem + 0.706vw), 1.99rem);
} 

/* KONTAJNER, ROZLOZENIE a VZHLAD PRE JEDEN PRODUKT */
/* cely priestor pre jeden kompletny produkt */
.product__card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
} 

/* zmena vzhladu oramovanie obrazka verzie .selected */
.is-selected picture img {
    outline: 2px solid var(--clr-red);
    outline-offset: -2px;
    transition: outline 0.2s ease-in-out;
}

/* priestor pre hlavny obrazok produktu a umiestnenie tlačidla */
.product__image--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
} 

/* vlastnosti obrazka na mobile */
.product__card picture  {
    width: clamp(15.65rem, calc(22.208rem - 7.286vw), 20.5rem);
    height: clamp(13.17rem, calc(12.529rem + 2.734vw), 14.99rem);
} 

/* priestor tlacidla "Add to Cart" */
.product__add--btn {
    /* definovanie polohy a samotneho tlacidla */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    width: 100%;
    max-width: 10rem; /* Zachová minimálnu veľkosť */
    height: 100%;
    max-height: clamp(2.72rem, calc(2.801rem - 0.09vw), 2.78rem);
    top: 90%;

    /* definovanie vzhladu tlacidla */
    border-radius: 1.35rem;
    border: none;
    outline: 1px solid var(--clr-rose-500);
    outline-offset: -1px; 

    background-color: var(--clr-rose-50);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s, outline 0.2s;
} 

/* priestor tlacidla "Add to Cart", ak je produkt vybrany */
.product__add--btn.active {
    background-color: var(--clr-red);
    color: var(--clr-rose-50);
    font-size: 0.85rem;
    font-weight: 600;
} 

/* zobrazit mnozstvo a znamienka +/- */
.active .quantity-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 0.55rem;
    color: var(--clr-white);
}

.active .add-content {
    display: none;
}

/* obsah tlacidla "Add to Cart */
.add-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 0.43rem;
} 

/* text "Add to Cart */
.add-cart {
    font-size: 0.925rem;
    font-weight: 600;
    color: var(--clr-rose-900);
    letter-spacing: -0.0275rem;
} 

/* priestor pre znamienka +/- */
.quantity-content {
    display: none;
} 

/* samostatny priestor pre znamienka, jednotlivo + a - */
.qty-btn-container {
    /* definovanie rozmiestnenia znamienok a mnozstva v tlacidle */
    display: flex;
    align-items: center;   /* Centrovanie ikonky vnútri krúžku vertikálne */
    justify-content: center; /* Centrovanie ikonky vnútri krúžku horizontálne */

    /* velkost priestoru pre znamienka +/- */
    width: 1.125rem;
    height: 1.125rem;
    padding: 0.25rem; /* Priestor medzi ikonkou a okrajom krúžku */

    /* oramovanie znamienok kruzkom */
    outline: 1px solid var(--clr-rose-100);
    outline-offset: -1px;
    border: none;
    border-radius: 50%; 
} 

.qty-btn-container:hover {
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--clr-rose-50)
}

/* zmena znamienka z bieleho na cervene */
.qty-btn-container:hover img {
    filter: brightness(0) saturate(100%) invert(31%) sepia(94%) saturate(1294%) hue-rotate(338deg) brightness(86%) contrast(100%);;
}

/* ikonka + a ikonka - */
.qty-img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
} 

.quantity-content span {margin: 0;} /* priestor pre mnozstvo */

/* priestor pre informacie o produkte (kategoria, nazov, cena) */
.product__info {
    margin-block-start: clamp(2.35rem, calc(2.407rem - 0.063vw), 2.392rem); 
} 

/*kategoria produktu */
.product__category { 
    font-size: 0.85rem;
    font-weight: 400;
    letter-spacing: 0.015rem;
    color: var(--clr-rose-500);
    margin: 0;
}

/* nazov produktu */
.product__name {
    font-size: clamp(0.98rem, calc(0.977rem + 0.015vw), 0.99rem);
    font-weight: 600;
    letter-spacing: 0.0045rem;
    margin: 0;
    padding-block: clamp(0.33rem, calc(0.371rem - 0.045vw), 0.36rem) clamp(0.25rem, calc(0.246rem + 0.015vw), 0.26rem);
    color: var(--clr-rose-900);
} 

/* jednotkova cena */
.product__price {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-red);margin: 0;
} 

/* definovanie meny pre cenu */
.product__price::before {
    content: "$";
    color: var(--clr-red);
}


/* DEFINOVANIE KOSIKA */
/* priestor pre kosik */
.cart__summary {
    display: grid;
    flex-direction: column;
    background-color: var(--clr-white);
    border-radius: 0.75rem;
    margin-block-start: clamp(0.21rem, calc(2.617rem - 2.674vw), 1.99rem);
    padding-block-start: clamp(1.46rem, calc(1.582rem - 0.135vw), 1.55rem);      
} 

/* hlavny nazov kosika "Your Cart (0)" */
.cart__quantity {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding-inline-start: 1.5rem;
    color: var(--clr-red);
} 

/* priestor a vzhlad pre prazdny kosik */
.cart__state--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
} 

/* obrazok pre empty cart */
.cart__state--empty img {
    margin-block-start: clamp(2.55rem, calc(2.539rem + 0.045vw), 2.58rem);
} 

/* informativny text "Your added items will appear here" */
.cart__notice {
    font-size: 0.86rem;
    font-weight: 600;
    color: var(--clr-rose-500); 
    margin: 0;
    padding-block: 1rem clamp(2rem, calc(2.565rem + 0.15vw), 2.7rem);
} 

/* priestor pre kosik s vybranymi produktami */
.cart__state--selected {
    padding-block-start: clamp(1.47rem, calc(1.459rem + 0.045vw), 1.5rem);    
    padding-inline: 1.5rem 1.5rem;
    display: none;
} 

/* priestor pre vybrane produkty */
.cart__item {
    display: grid;
    grid-template-columns: 1fr 1.188rem;
    align-items: center;
    justify-content: center;
} 

/* nazov vybraneho produktu */   
.cart__item-name {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
    color: var(--clr-rose-900);
    padding-block-end: clamp(0.5rem, calc(0.479rem + 0.09vw), 0.56rem);
}  

/* priestor pre definovanie mnozstva, j.c. a ceny celkom vybraneho produktu */
.cart__item-meta {
    display: grid;
    grid-template-columns: 1.8rem 3.64rem auto;
} 

/* mnozstvo vybraneho produktu */
.cart__item-count {
    font-size: 0.87rem;
    font-weight: 600;
    color: var(--clr-red);
} 

/* jednotkova cena vybraneho produktu */
.cart__item-price {
    font-size: 0.89rem;
    font-weight: 400;
    color: var(--clr-rose-500);
    letter-spacing: -0.01rem;
} 

/*celkova cena vybraneho produktu */
.cart__item-subtotal {
    font-size: 0.89rem;
    font-weight: 600;
    color: var(--clr-rose-500);
    letter-spacing: -0.005rem;
} 

/* priestor pre tlacidlo na odstranenie vybraneho produktu z kosika */
.cart__item-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    /* velkost priestoru pre znamienka +/- */
    width: 1.155rem;
    height: 1.155rem;
    padding: 0.3rem; /* Priestor medzi ikonkou a okrajom krúžku */
    /* oramovanie znamienok kruzkom */
    outline: 2px solid var(--clr-rose-300);
    outline-offset: -2px;
    border: none;
    border-radius: 50%;
    background: transparent;
    margin: 0;
    
} 

/* nastavenie aktivneho tladidla remove */
.cart__item-remove:hover {
    outline: 2px solid var(--clr-rose-900);
    outline-offset: -2px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s, outline 0.2s;
}

/* tlacidlo X na odstranenie vybraneho produktu z kosika */
.cart__item-remove img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
} 

.cart__item-remove:hover img {
    filter: brightness(0); /* Zmení ikonku na čiernu pri hoveri */
}

/* deliaca ciara medzi produktami */
.separator {
    grid-column: 1 / -1; /* Toto povie: začni na 1. čiare a skonči na poslednej */
    display: block;      /* Zabezpečí, že sa prvok vykreslí */
    height: 0.0625rem;
    background-color: var(--clr-rose-100);
    border: none;
    width: 100%;
    margin-block: 1.1rem clamp(0.91rem, calc(1.032rem - 0.135vw), 1rem);
} 

.cart__item:last-child .separator /* Skrytie separatora vnútri posledného produktu v zozname verzie .selected*/ {
    display: none;
}

/*deliacia ciara za poslednym produktom */
.separator-second {
    display: block;      /* Zabezpečí, že sa prvok vykreslí */
    height: 0.0625rem;
    background-color: var(--clr-rose-100);
    border: none;
    width: 100%;
    margin-block-start: 1.525rem;
} 

/* priestor pre suhrnne zhrnutie kosika */
.cart__total {
    justify-content: space-between;
    align-items: center;
    padding-block: 1.55rem 1.65rem;
} 

/* text "Order Total" */
.cart__total span {
    font-size: 0.88rem;
    font-weight: 400;
} 

/* celkova cena vsetkych produktov v kosiku */
.cart__total-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-rose-900);
    letter-spacing: 0.02rem;
} 

/* priestor pre informaciu o carbon-neutral doruceni */
.cart__delivery-info {
    justify-content: center;
    align-items: center;
    background-color: var(--clr-rose-50);
    border-radius: 0.5rem;
    gap: 0.45rem;
} 

.cart__delivery-info img {
    object-fit: contain;
    width: 1.3rem;
}

.cart__delivery-info p {
    font-size: 0.899rem;
    font-weight: 400;
    color: var(--clr-rose-900);
    letter-spacing: -0.01rem;
}

/* definovanie casti "carbon-neutral" */
.cart__delivery-info span {
    font-weight: 600;
} 

/* tlacidlo pre potvrdenie objednavky "Confirm Order" */
.cart__btn-confirm {
    width: 100%;
    border: none;
    border-radius: 2rem;
    margin-block-start: 1.6rem;
    padding-block: 1rem;
    background-color: var(--clr-red);

    /*nastavenie textu tlacidla */
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-rose-50);
}

/*nastavenie aktivneho tlacidla "Confirm Order" */
.cart__btn-confirm:hover {
    background-color: var(--clr-red-dark);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s, outline 0.2s;
}

/* DEFINOVANIE KOSIKA PO POTVRDENI OBJEDNAVKY */
/* hlavny priestor pre zobrazenie a nastavenie kosika */
.order-modal {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Vyplní celú obrazovku */
    background-color: var(--clr-black-alpha);
    
    justify-content: center;
    align-items: center; /* Centrovanie obsahu */
    overflow-y: auto; 
    padding: 1rem; /* Rezerva, aby sa modal nedotýkal okrajov na malých mobiloch */
}

/* priestor pre zobrazenie obsahu kosika */
.order-modal__content {
    background-color: var(--clr-white);
    width: 100%;
    max-width: 37rem;
    border-radius: 0.8rem;
    padding: 2.5rem;
    margin: auto; /* Pomáha pri skrolovaní dlhého obsahu */
    position: relative;

    /* Kľúčové vlastnosti pre scroll: */
    height: 100%;
    max-height: clamp(42.9rem, calc(45.739rem - 3.155vw), 45rem);
    overflow-y: auto; /* Ak je zoznam dlhý, bude sa skrolovať len vnútro */ 
} 

/* nazov "Order Confirmed" */
.order-modal__title {
    font-size: 2.5rem;
    color: var(--clr-rose-900);
    margin-block: 1.15rem clamp(0.5rem, calc(0.482rem + 0.075vw), 0.55rem);
    line-height: 1.2;
} 

/* podnadpis "We hope you enjoy your food!" */
.order-modal__subtitle {
    color: var(--clr-rose-500);
    margin: 0;
    padding-block-end: 2.05rem;
} 

/* priestor pre informacie o objednanych produktoch (obrazok, nazov, objednane mnozstvo, jednotkova cena, cena celkom) */
.order-modal__summary {
    background-color: var(--clr-rose-50);
    border-radius: 0.5rem;
    padding-inline: 1.5rem 1.535rem;
    padding-block-start: 1.5rem;
} 

/*priestor pre informacie o jednom objednanom produkte */
.order-modal__item {
    display: grid;
    grid-template-columns: 2rem clamp(11.5rem, calc(10.268rem + 5.258vw), 15rem) auto;  
} 

/* obrazok objednaneho produktu */
.order-modal__item-img {
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
    object-fit: cover;
    align-self: center;
} 

/* nazov objednaneho produktu */
.order-modal__item-name {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--clr-rose-900);
    letter-spacing: -0.005rem;
    margin: 0;
    padding-inline-start: 1.975rem;
    padding-block-start: 0.05rem;

    /* Skrátenie dlhého textu bodkami ak by nevyšiel */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

/* priestor pre informacie o objednanom produkte (mnozstvo, jednotkova cena) */
.order-modal__item-meta {
    display: grid;
    grid-template-columns: 1.85rem auto;
    padding-inline-start: 1.975rem;
    padding-block-start: 0.55rem;
} 

/* mnozstvo objednaneho produktu */
.order__item-count {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--clr-red);
} 

/* jednotkova cena za objednany produkt */
.order__item-price {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--clr-rose-500);
} 

/* celkova cena za objednany produkt */
.order-modal__item-subtotal {
    justify-self: end; 
    align-self: center;
    font-weight: 600;
    font-size: 1.0rem;
    color: var(--clr-rose-900);
} 

/*deliaca ciara medzi objednanymi produktami*/
.order-modal__separator {
    grid-column: 1 / -1;
    height: 0.0625rem;
    background-color: var(--clr-rose-100);
    border: none;
    width: 100%;
    margin-block: 0.95rem 1.05rem;
} 

.order-modal__item:last-of-type .order-modal__separator /* Skrytie separatora vnútri posledného produktu v zozname verzie .confirmed*/{
    display: none;
}

/* deliacia ciara za poslednym produktom */
.order-modal__separator-second {
    display: block;      /* Zabezpečí, že sa prvok vykreslí */
    height: 0.0625rem;
    background-color: var(--clr-rose-100);
    border: none;
    width: 100%;
    margin-block-start: 1.5rem;
} 

/* priestor pre zhrnutie objednavkoveho kosika */
.order-modal__total-container {
    display: grid;
    grid-template-columns: clamp(11.25rem, calc(7.183rem + 17.352vw), 22.8rem) auto;
    column-gap: 1rem;
    align-items: center;
    padding-block: 1.5rem 1.5rem;
} 

/* text "Order Total" */
.order-modal__total-container span {
    font-size: 0.88rem;
    font-weight: 400;
} 

/* celkova cena objednavky */
.order-modal__total-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-rose-900);
    letter-spacing: 0.02rem;
} 

/* tlacidlo "Start New Order" */
.order-modal__btn-new {
    width: 100%;
    border: none;
    border-radius: 2rem;
    margin-block-start: 2rem;
    padding-block: 1rem;
    background-color: var(--clr-red);

    /*nastavenie textu tlacidla */
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-rose-50);
} 

/*nastavenie aktivneho tlacidla "Start New Order" */
.order-modal__btn-new:hover {
    background-color: var(--clr-red-dark);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s, outline 0.2s;
}

/* DEFINOVANIE FOOTER */
.attribution {     
    font-size: 0.6875rem; 
    text-align: center;   
    padding-block-start: 0.5rem;  
}

.attribution-link { 
    color: var(--clr-blue); 
}

/* DESKTOP VERZIA */
@media (min-width: 64rem) {
    .card {
        grid-template-columns: 1fr 24rem;
        column-gap: 1.95rem;
    }

    .card__deserts {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.43rem;
    }

    .product__add--btn {
        top: 90.8%;
    }

    .product__name {
        letter-spacing: -0.001rem;
    }

    .cart__item-price {
         letter-spacing: -0.015rem;
    } 
        
    .cart__item-subtotal {
        letter-spacing: -0.01rem;
    }    
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
        scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: auto;
    }
}